<div class="content-intern-login">
<div class="main-container"> 
  <p id="notice"><%= notice %></p>
  <div class="form-group form-login">
    <%= form_tag sessions_path do %>
      <%= email_field_tag :email, nil, class:"form-control text-field", placeholder: "lembra o email?" %>
      <%= password_field_tag :password, nil, class:"form-control text-field", placeholder: "e a senha??" %>
      <%= submit_tag "Entrar", class:"btn btn-danger btn-login" %>
      <%= link_to "Putz..esqueci minha senha", nil, class: "forgot-password" %>
      <%= link_to "Não tem login? Cadastre-se", new_user_path, class: "forgot-password" %>
    <% end %>
  </div>
  </div>
</div>