<div class="content-intern-login">
<div class="main-container"> 
  <% if flash[:notice] %>
    <div class="alert alert-success" role="alert">
      <%= flash[:notice] %>
    </div>
  <% end %>
  <% if flash[:noticeError] %>
    <div class="alert alert-danger" role="alert">
      <%= flash[:noticeError] %>
    </div>
  <% end %>
  <div class="form-group form-login">
    <%= form_tag sessions_path do %>
      <%= email_field_tag :email, nil, class:"form-control text-field", placeholder: "lembra o email?" %>
      <%= password_field_tag :password, nil, class:"form-control text-field", placeholder: "e a senha??" %>
      <%= submit_tag "Entrar", class:"btn btn-danger btn-login" %>
      <%= submit_tag "Putz..esqueci minha senha", name: 'reset', class: "forgot-password btn-forgot-password" %>
      <%= link_to "Não tem login? Cadastre-se", new_user_path, class: "forgot-password" %>
    <% end %>
  </div>
  </div>
</div>