<main class="card-main card-table">
  <a href=<%= class_group_path(@task.class_group_id) %> data-toggle="tooltip" title="Voltar"><%= image_tag('back.png', id: "back", class: "icon-page") %></a>
  <% if flash[:notice] %>
    <div class="alert alert-success" role="alert">
      <%= flash[:notice] %>
    </div>
  <% end %>
  <div class="content-intern">
    <h1 class='title-page'>Respostas</h1>

    <table class="table table-bordered table-hover table-page">
      <thead class="header-table-red header-table-font">
        <tr>
          <th>Nome</th>
          <th>Nota</th>
          <th colspan="1"></th>
        </tr>
      </thead>

      <tbody class="body-table">
         <% @responses_task.each do |response| %>
          <tr>
            <td class="content-text-table"><%= response.user.name %></td>
            <td><%= response.grade %></td>
            <td><%= link_to 'Visualizar', task_response_path(response.id), class: 'btn btn-default btn-view-item-table', style: 'width: 35%' %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</main>
