<%# <% if current_user == @user %>
<% @tasks.each do |task| %>
<main class="card-main align-columns">
  <section class="status-column">
    <div class="status-header">
      <h3 class="status-name">Pendente</h3>
    </div>
    <div class="status-body">
      
        <% if task.pending? %>
          <div class="card-task">
            <a href="http://www.google.com">
              <div>
                <span class="card-class status-pending"><%=task.class_group.class_code%></span>
                <h4 class="card-title"><%=task.title%></h4>
                <span class="card-date"><%=task.expiration_date%></span>
              </div>
            </a>
          </div>
        <% end %>
      
    </div>
  </section>

  <section class="status-column">
    <div class="status-header">
      <h3 class="status-name">Em Andamento</h3>
    </div>
    <div class="status-body">
      <% if task.progress? %>
      <div class="card-task">
        <a href="#">
          <div>
            <span class="card-class status-progress"><%=task.class_group.class_code%></span>
            <h4 class="card-title"><%=task.title%></h4>
            <span class="card-date"><%=task.expiration_date%></span>
          </div>
        </a>
      </div>
      <% end %>
    </div>
  </section>

  <section class="status-column">
    <div class="status-header">
      <h3 class="status-name">Concluído</h3>
    </div>
    <div class="status-body">
      <% if task.done? %>
      <div class="card-task">
        <a href="#">
          <div>
            <span class="card-class status-done"><%=task.class_group.class_code%></span>
            <h4 class="card-title"><%=task.title%></h4>
            <span class="card-date"><%=task.expiration_date%></span>
          </div>
        </a>
        <a href="#"><span class="remove-task">X</span></a>
      </div>
      <% end %>
    </div>
  </section>

  <section class="status-column">
    <div class="status-header">
      <h3 class="status-name"><%= true ? "Não Entregue" : "Corrigido" %></h3>
    </div>
    <div class="status-body">
      <% if task.ajusted? %>
      <div class="card-task">
        <a href="http://www.google.com.br">
          <div>
            <span class="card-class status-not-completed"><%=task.class_group.class_code%></span>
            <h4 class="card-title"><%=task.title%></h4>
            <span class="card-date"><%=task.expiration_date%></span>
          </div>
        </a>
        <a href="https://www.youtube.com.br"><span class="remove-task">X</span></a>
      </div>
      <% end %>
    </div>
  </section>
</main>
<% end %>