<!--<% if flash[:notice] %>
  <div class="alert alert-success" role="alert">
    <%= flash[:notice] %>
  </div>
<% end %> -->

<main class="card-main card-table">
  <a href='<%= tasks_board_path(current_user.id) %>' data-toggle="tooltip" title="Voltar"><%= image_tag('back.png', id: "back", class: "icon-page") %></a>
  <div class="content-intern">
    <%= form_for @task do |form| %>
      <div class="top-panel">
        <%# <%= form.text_field :title, class:"title-page title-task"%>
        <h1 class='title-page title-task'><%= form.text_field :title, class: 'input-title', disabled: @task.ajusted? %></h1>
        
        <section class="section-task">
          <h4 class="field-task">Entregar até:  </h4>
          <span class="span-task"><%= form.date_field :expiration_date, class: 'data-field-expiration', disabled: @task.ajusted? %></span>
        </section>

        <section class="section-task">
          <h4 class="field-task">Professor:  </h4>
          <span class="span-task"><%= @task.class_group.user.name %></span>
        </section>

        <section class="section-task">
          <h4 class="field-task">Disciplina:  </h4>
          <span class="span-task"><%= @task.class_group.discipline %></span>
        </section>


        <section class="section-task">
          <span class="card-class status-not-completed code-class"><%= @task.class_group.class_code %></span>
        </section>
      </div>

      <section class="description-task">
        <h4 class="item-description">Descrição:</h4>
        <h3 class="description-task-text item-description"><%= form.text_area :description, class: 'input-text-task', disabled: @task.ajusted? %></h3>
      </section>

      <section class="content-body">
        <section class="section-response-user">
          <!-- <%= text_field_tag :annotation, nil, class:"annotation-task", placeholder: "Escreva suas anotações.." %> -->
          <%= link_to 'Visualizar Respostas', task_responses_path(@task.id), class: 'btn-new-student upload-task text-button-task' %>
        </section>
        <% if !@task.ajusted? %>
          <section class="section-alterar-status">
            <%= form.select :status, Task.statuses.keys.reject { |k| k == "pending" }, {}, class: 'status-task' %>
            <%= form.submit 'Alterar', class: 'btn-new-item btn-alterar' %>
          </section>
        <% end %>
      </section>    
    <% end %>
  </div>
</main>
