<main class="card-main card-table">
  <a href='<%= tasks_board_path(current_user.id) %>' data-toggle="tooltip" title="Voltar"><%= image_tag('back.png', id: "back", class: "icon-page") %></a>
  <% if flash[:noticeError] %>
    <div class="alert alert-danger" role="alert">
      <%= flash[:noticeError] %>
    </div>
  <% end %>
  <div class="content-intern">
    <%= form_for @task do |form| %>
      <div class="top-panel">
        <h1 class='title-page title-task'><%= form.text_field :title, class: 'input-title', disabled: @task.ajusted? || @task.done? %></h1>
        
        <section class="section-task">
          <h4 class="field-task">Entregar até:  </h4>
          <span class="span-task"><%= form.date_field :expiration_date, class: 'data-field-expiration', disabled: @task.ajusted? || @task.done? %></span>
        </section>

        <section class="section-task">
          <h4 class="field-task">Professor:  </h4>
          <span class="span-task"><%= @task.class_group.user.name %></span>
        </section>

        <section class="section-task">
          <h4 class="field-task">Disciplina:  </h4>
          <span class="span-task"><%= @task.class_group.discipline %></span>
        </section>

        <section class="section-task">
          <span class="card-class status-not-completed code-class"><%= @task.class_group.class_code %></span>
        </section>
      </div>

      <section class="description-task">
        <h4 class="item-description">Descrição:</h4>
        <h3 class="description-task-text item-description"><%= form.text_area :description, class: 'input-text-task', disabled: @task.ajusted? || @task.done? %></h3>
      </section>

      <section class="content-body">
        <% unless @task.done? || @task.ajusted? %>
          <section class="section-alterar-status" style=<%= @task.progress? ? 'margin-left:38em' : '' %>>
            <% if @task.pending? %>
              <%= form.select :status, Task.statuses.keys.reject { |k| k != "pending" && k != "progress" }, {}, class: 'status-task' %>
            <% end %>
            <%= form.submit 'Alterar', class: 'btn-new-item btn-alterar', style: @task.progress? ? 'margin-top: 2.5em;' : '' %>
          </section>
        <% end %>

        <section class="section-response-user" style=<%= @task.pending? ? 'display:none' : '' %>>
          <%= link_to 'Visualizar Respostas', task_responses_path(@task.id), class: 'btn-new-student upload-task text-button-task' %>
        </section>
      </section>    
    <% end %>
  </div>
</main>
