<main class="card-main card-table">
  <p id="notice"><%= notice %></p>

  <a href='<%= tasks_path %>' data-toggle="tooltip" title="Voltar"><%= image_tag('back.png', id: "back", class: "icon-page") %></a>
  <div class="content-intern">
    <div class="top-panel">
      <h1 class='title-page title-task'><%= @task.title %></h1>
      
      <section class="section-task">
        <h4 class="field-task">Entregar até:  </h4>
        <span class="span-task"><%= @task.expiration_date %></span>
      </section>

      <section class="section-task">
        <h4 class="field-task">Professor:  </h4>
        <span class="span-task"><%= @task.class_group.user.name %></span>
      </section>

      <section class="section-task">
        <h4 class="field-task">Disciplina:  </h4>
        <span class="span-task"><%= @task.class_group.discipline %></span>
      </section>


      <section class="section-task">
        <span class="card-class status-not-completed"><%= @task.class_group.class_code %></span>
      </section>
    </div>

    <section class="description-task">
      <h4>Descrição:</h4>
      <h3 class="description-task-text"><%= @task.description %></h3>
    </section>

    <section class="content-body">
      <section class="section-response-user">
        <%= text_field_tag :annotation, nil, class:"annotation-task", placeholder: "Escreva suas anotações.." %>
        <%= link_to 'Anexar Resposta', nil, class: 'btn-new-student upload-task' %>
      </section>
    
      <section class="section-alterar-status">
        <%= select_tag :status, @task, class: 'status-task' %>
        <%= link_to 'Alterar', edit_task_path(@task), class: 'btn-new-item btn-alterar' %>
      </section>
    </section>

   

    <%# <%= link_to 'Edit', edit_task_path(@task) %> 
    <%# <%= link_to 'Back', tasks_path %>
  </div>
</main>
