<main class="card-main card-table">
  <a href=<%= login_path %> data-toggle="tooltip" title="Voltar"><%= image_tag('back.png', id: "back", class: "icon-page") %></a>
  <% if flash[:notice] %>
    <div class="alert alert-danger" role="alert">
      <%= flash[:notice] %>
    </div>
  <% end %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
        <% @user.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class="content-intern">
    <h1 class='title-page title-task'>Cadastrar Usuário</h1>
    <div class="form-group-register">
      <%= form_for @user do |form| %>
        <div style="width: 70%; margin: auto; margin-top: 2em;">
          <div style="width: 100%; margin: auto;">
            <%= form.label 'Nome' %>
            <%= form.text_field :name, class:"form-control text-field", style: 'margin-top: 0;', placeholder: "Qual seu nome??" %>

            <div style="display: inline-block; width: 100%; margin-top: 1em;">
              <div style="display: inline-block; vertical-align: bottom; width: 48%">
                <%= form.label 'Matrícula' %>
                <%= form.text_field :registration, class:"form-control text-field", style: 'margin-top: 0;', placeholder: "Tem matrícula? Qual?" %>
              </div>

              <div style="display: inline-block; margin-left: 2em; width: 48%">
                <%= form.label 'Tipo de usuário' %>
                <%= form.select :profile, User.profiles.keys.to_a, {}, class:"form-control text-field select-profile" %>
              </div>
            </div>
          </div>

          <div style="margin-top: 3em; width: 100%;">
            <%= form.label :email %>
            <%= form.email_field :email, class:"form-control text-field", style: 'margin-top: 0;', placeholder: "Digite seu email" %>
          </div>

          <div style=" width: 100%;  margin-top: 1em;">
            <div style="display: inline-block; vertical-align: bottom; width: 48%">
              <%= form.label 'Senha' %>
              <%= form.password_field :password, class:"form-control text-field", style: 'margin-top: 0;', placeholder: "Qual vai ser a senha?" %>
            </div>

            <div style="display: inline-block; margin-left: 2em; width: 48%">
              <%= form.label 'Confirmação de senha' %>
              <%= form.password_field :password_confirm, class:"form-control text-field", style: 'margin-top: 0;', placeholder: "Tem certeza da senha? Repita." %>
            </div>
          </div>
          
          <div style="margin: auto; width: 85%;">
            <%= form.submit "Cadastrar", class:"btn btn-danger btn-login", style: 'margin-top: 3em;' %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</main>
