<main class="card-main card-table">
  <!-- ver pra ao clicar no voltar, desvalidar token -->
  <a href=<%= login_path %> data-toggle="tooltip" title="Voltar"><%= image_tag('back.png', id: "back", class: "icon-page") %></a>
  <div class="content-intern">

  <% if flash[:noticeError].nil? || flash[:noticeError] != "token expirado" %>
    <h1 class='title-page'>Resetar Senha</h1>
    <div class="reset-password">
      <%= form_with(model: @user, local: true) do |form| %>
        <%= form.password_field :password, class:"form-control text-field", placeholder: "Digite a nova senha" %>
        <%= form.password_field :password_confirm, class:"form-control text-field", placeholder: "Confirme a senha" %>
        <%= form.submit 'Resetar', class: 'btn-reset btn-new-item' %>
      <% end %>
    </div>
  <% else %>
    <h1>Token expirado. Solicite novamente a alteração da senha.</h1>
    <% flash[:noticeError] = nil %>
  <% end %>
  </div>
</main>