<p id="notice"><%= notice %></p>
<% if current_user == @user %>
<p>
  <strong>Profile:</strong>
  <%= @user.profile %>
</p>

<p>
  <strong>Name:</strong>
  <%= @user.name %>
</p>

<p>
  <strong>Registration:</strong>
  <%= @user.registration %>
</p>

<p>
  <strong>Email:</strong>
  <%= @user.email %>
</p>

<p>
  <strong>Password:</strong>
  <%= @user.password %>
</p>

<p>
  <strong>Password digest:</strong>
  <%= @user.password_digest %>
</p>

  <%# <%= link_to 'Edit', edit_user_path(@user) %> 
  <%# <%= link_to 'Back', users_path %>
<% end %>