<%# <% if current_user == @user %>

<main class="card-main align-columns">
  <section class="status-column">
    <div class="status-header">
      <h3 class="status-name">Pendente</h3>
    </div>
    <div class="status-body">
      <% @responses.each do |response| %>
        <% if response.pending? %>
          <div class="card-task">
            <a href=<%= response_path(response) %>>
              <div>
                <span class="card-class status-pending"><%=response.task.class_group.class_code%></span>
                <h4 class="card-title"><%=response.task.title%></h4>
                <div class="card-footer">
                  <span class="card-date"><%=response.task.expiration_date%></span>
                </div>
              </div>
            </a>
          </div>
        <% end %>
      <% end %>
    </div>
  </section>

  <section class="status-column">
    <div class="status-header">
      <h3 class="status-name">Em Andamento</h3>
    </div>
    <div class="status-body">
      <% @responses.each do |response| %>
        <% if response.progress? %>
            <a href=<%= response_path(response) %>>
              <div class="div-card-task">
                <span class="card-class status-progress"><%=response.task.class_group.class_code%></span>
                <h4 class="card-title"><%=response.task.title%></h4>
                <div class="card-footer">
                  <span class="card-date"><%=response.task.expiration_date%></span>
                </div>
              </div>
            </a>
        <% end %>
      <% end %>
    </div>
  </section>

  <section class="status-column">
    <div class="status-header">
      <h3 class="status-name">Concluído</h3>
    </div>
    <div class="status-body">
      <% @responses.each do |response| %>
        <% if response.done? %>
            <a href=<%= response_path(response) %>>
              <div class="div-card-task">
                <span class="card-class status-done"><%=response.task.class_group.class_code%></span>
                <h4 class="card-title"><%=response.task.title%></h4>
                <div class="card-footer">
                  <span class="card-date"><%=response.task.expiration_date%></span>
                </div>
              </div>
            </a>
            <a href="#"><span class="remove-task">X</span></a>
        <% end %>
      <% end %>
    </div>
  </section>

  <section class="status-column">
    <div class="status-header">
      <h3 class="status-name"><%= true ? "Não Entregue" : "Corrigido" %></h3>
    </div>
    <div class="status-body">
      <% @responses.each do |response| %>
        <% if response.undelivered? %>
          <div class="card-task">
            <a href=<%= response_path(response) %>>
              <div>
                <span class="card-class status-not-completed"><%=response.task.class_group.class_code%></span>
                <h4 class="card-title"><%=response.task.title%></h4>
                <div class="card-footer">
                  <span class="card-date"><%=response.task.expiration_date%></span>
                </div>
              </div>
            </a>
            <a href="https://www.youtube.com.br"><span class="remove-task">X</span></a>
          </div>
        <% end %>
      <% end %>
    </div>
  </section>
</main>
