<main class="card-main card-table">
  <p id="notice"><%= notice %></p>

  <h1 class='title-page'>Turmas</h1>

  <table class="table table-bordered table-hover table-page">
    <thead class="header-table">
      <tr>
        <th>Class code</th>
        <th>Discipline</th> 
        <th>Expiration date</th>
        <th colspan="3"></th>
      </tr>
    </thead>

    <tbody class="body-table">
      <% @class_groups.each do |class_group| %>
        <tr>
          <td><%= class_group.class_code %></td>
          <td><%= class_group.discipline %></td>
          <td><%= class_group.expiration_date %></td>
          <td><%= link_to 'Ver', class_group, class: 'btn-view-item-table' %></td>
          <%# <td><%= link_to 'Alterar', edit_class_group_path(class_group) %>
          <%#</td>
          <%# <td><%= link_to 'Remover', class_group, method: :delete, data: { confirm: 'Tem certeza que deseja remover?' } %>
          <%# </td> %>
        </tr>
      <% end %>
    </tbody>
  </table>

  <br>

  <%= link_to 'Criar Turma', new_class_group_path, class: 'btn-new-item' %>
</main>
