<main class="card-main card-table">
  
  <p id="notice"><%= notice %></p>

  <a href=<%= class_group_path(@class_group.id) %> data-toggle="tooltip" title="Voltar"><%= image_tag('back.png', id: "back", class: "icon-page") %></a>
  <div class="content-intern">
    <h1 class='title-page'>Vincular Aluno</h1>
    <%= form_with(model: @user, local: true) do |form| %>
      <%= form.email_field :email, class:"form-control text-field text-email-associate", placeholder: "email do aluno.." %>
      <%= form.submit 'Vincular', class: 'btn-associate btn-new-item' %>
    <% end %>
  </div>
</main>