<!DOCTYPE html>
<html>
  <head>
    <%= favicon_link_tag 'favicon.ico' %>
    <title>Attention Class</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class=<%= class_name("container") %>>
      <% if logged_in? && !current_page?(login_path) %>
        <%= nav_bar brand: "Attention Class", brand_link: current_user.admin? ? tasks_board_path(current_user.id) : responses_board_path(current_user.id)  do %>
          <%= menu_group do %>
            <% if current_user.admin? %>
              <%= menu_item "Turmas", admin_classes_path(:id => current_user ), class: "nav-menu-item" %>
              <%# <%= menu_item "Tarefas", root_url, class: "nav-menu-item" %>
            <% end %>
              <%= menu_item "Minha Conta", user_path(:id => current_user ), class: "nav-menu-item" %>
          <% end %>
          <a href=<%= sessions_path %> data-method="delete" data-toggle="tooltip" title="Sair">
            <%= image_tag('logout.png', id: "logouticon", class: "icon-page logouticon navbar-form navbar-right") %>
          </a>
        <% end %>
      <% end %>

      <% if !current_user.nil? && !(current_page?(login_path) || current_page?(signup_path)) %>
        <% if flash[:notice] %>
          <div class="alert alert-success" role="alert">
            <%= flash[:notice] %>
          </div>
        <% end %>
        <% if flash[:noticeError] && flash[:noticeError] != "token expirado" %>
          <div class="alert alert-danger" role="alert">
            <%= flash[:noticeError] %>
          </div>
        <% end %>
      <% end %>

      <div class=<%= main_class() %>>
        <%= yield %>
      </div>
    </div>
  </body>
</html>
