<!DOCTYPE html>
<html>
  <head>
    <title>Attention Class</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="container">
      <%# <% if true  Validar se a tela é login %>
        <%= nav_bar brand: "Attention Class", brand_link: root_url  do %>
          <%# <% if person.profile = 1 (professor) %>
            <%= menu_group do %>
              <%= menu_item "Turmas", root_url, class: "nav-menu-item" %>
              <%= menu_item "Tarefas", root_url, class: "nav-menu-item" %>
            <% end %>
          <%# <% end %>
          <a href="https://www.youtube.com.br" data-toggle="tooltip" title="Sair"><%= image_tag('logout.png', id: "logouticon", class: "logouticon navbar-form navbar-right") %></a>
        <% end %>
      <%# <% end %>
      <div class="main-content">
        <%= yield %>
      </div>
    </div>
  </body>
</html>
